document.querySelector('#posts').insertAdjacentHTML( 'beforeend', '<%= j render @posts %>');
<% if @posts.next_page %>
  document.querySelector('.pagination').outerHTML = "<%= j will_paginate @posts %>";
<% else %>
  window.removeEventListener('scroll',infiniteScrollHelper);
  document.querySelector('.pagination').innerHTML = "<br><p>Good job reaching here. You have seen all the posts. Nothing more to show :D</p><br>";
<% end %>
