<!DOCTYPE html>
<html>
  <head>
    <title>InstaRoR</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <script type="text/javascript">

      function infiniteScrollHelper(){
        pagination_element = document.querySelectorAll('.pagination .next_page')
        if(pagination_element.length > 0)
          more_posts_url = pagination_element[0].getAttribute('href')
        else
          more_posts_url = ""
        if(more_posts_url && (window.pageYOffset >= document.body.clientHeight - window.innerHeight) )
        {
          document.querySelector('.pagination').innerHTML = '<p> Loading older posts ........ </p>'
          var head= document.getElementsByTagName('head')[0];
          var script= document.createElement('script');
          script.type= 'text/javascript';
          ques_index=more_posts_url.indexOf('?')
          if(more_posts_url.indexOf(".js")==-1)
            script.src= more_posts_url.substring(0,ques_index)+".js?"+more_posts_url.substring(ques_index+1)
          else
            script.src= more_posts_url
          script.async = true;
          head.appendChild(script);
        }
      }

      if( document.querySelectorAll('.pagination').length  && document.querySelectorAll('#posts').length )
      {
        window.addEventListener('scroll',infiniteScrollHelper);
      }

    </script>
  </body>
</html>
